 

.dashboard-grid {
    display: grid;
    grid-template-columns:  25% 75%;  
}
 

@media only screen and (max-width: 1400px) {
    .dashboard-grid { 
        grid-template-columns:  100%;  
    }
  }