
// .app-card-component {
//   margin: 10px;
// }

.app-card-component {
  margin: 20px; 
  display: flex 19px !important;
  
}

.Polaris-Card__Section {
  text-align: center !important;
  .app-card-count {
    font-family: 'Noto Sans', sans-serif; 
    color: #028ECC; 
    font-size: 2.8rem;
    line-height: 65px;
  }
  .app-card-title {  
    color: #8f8f8f; 
    font-weight: bold;
    height: 30px; 
    line-height: 30px;
  }
  .app-card-icon {
    font-size:3.5rem;
    color: #028ECC; 
    line-height: 50px;
  }
}