//Variable
$background-color: #F8F8F8;

.app-page {
  display: grid;
  grid-template-columns: 300px auto; 
}

.app-main-view{
  margin-left: 0px;
};

.app-container {
  padding: 100px 50px;
  background-color: $background-color;
  min-height: 100vh;
}

@media only screen and (max-width: 1400px) {
  .app-page {
    display: block;
    grid-template-columns: auto; 
  }
  .app-container {
    padding: 10px 5px; 
  }
}