  
.Polaris-DataTable__ScrollContainer          { overflow-y: auto; height: 30vh; }
.Polaris-DataTable__ScrollContainer thead th { position: sticky; top: 0; }
  
  /* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#fff; }


.Polaris-IndexTable__TableHeading {
  font-weight: 700 !important;
}